<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortner</title>
    <link rel="icon" href="https://w7.pngwing.com/pngs/631/179/png-transparent-computer-icons-computer-mouse-hyperlink-url-electronics-text-logo.png" type="image/x-icon">
    <style>
      body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background: #08041a;
      }
      .container {
        display: flex;
        justify-content: center;
      }
      .block {
        width: 768px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 10%;
        color: rgb(224, 219, 219);
        border: 2px solid #00f0ff;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 0 15px #00f0ff;
      }
      h1 {
        font-size: 50px;
      }
      form {
        display: flex;
        gap: 15px;
        margin: 10px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }
      label {
        font-size: 30px;
      }
      input {
        font-size: 25px;
        padding: 5px 8px;
      }
      button {
        padding: 10px 15px;
        font-size: 20px;
      }

      p {
        font-size: 30px;
        padding: 10px;
      }
      a{
        color: yellow;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="block">
        <h1>URL Shortner</h1>
        <form action="/shorten" method="post">
          <label for="longUrl">Enter URL : </label>
          <input type="text" name="longUrl" id="longUrl" required />
          <button type="submit">Shorten URL</button>
        </form>
        <% if(shortUrl) { %>
        <p>
          Short Url:
          <a href="<%= shortUrl %>" target="_blank"> <%= shortUrl %> </a>
        </p>
        <% } %>
      </div>
    </div>
  </body>
</html>
